<!DOCTYPE html>
<html>
  <head>
    <title>MadLibs!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Your Personal Madlibs story!</h1>
    <p>One day, @Model.GetPerson1(), and @Model.GetPerson2() were walking through the woods, when suddenly a giant @Model.GetAnimal() appeared. "@Model.GetExclamation()", @Model.GetPerson1() cried. The two of them @Model.GetVerb() as quickly possible, and when they were safe, @Model.GetPerson1() and @Model.GetPerson2() gave each other a giant @Model.GetNoun().
  </body>
</html>